<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">One of Britain's most recognised voice over professionals*</h2>
                <hr class="light">
                <p class="text-faded">*(based on a survey of immediate friends and family)</p>
                <a href="#contact" class="btn btn-default btn-xl">Hire a Man with a Cat</a>
            </div>
        </div>
    </div>
</section>
