<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with me? That's great! Let's get Started.</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://shop.authors-direct.com/collections/man-with-a-cat" target="_blank">
                <i class="fa fa-bell fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p class="text-muted">New Titles</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:web@manwithacat.uk" target="_blank">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p class="text-muted">web@manwithacat.uk</p>
           </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://shop.authors-direct.com/collections/man-with-a-cat" target="_blank">
            <i class="fa fa-microphone fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p class="text-muted">Buy Audiobooks Direct</p>
            </a>
        </div>
    </div>
