<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Content</h2>
                <hr class="primary">

                <div id="content-wrapper">
                        <div class="inner clearfix">
                          <section id="main-content">
                            {{ content }}
                          </section>        
                        </div>  
                </div>
            </div>
        </div>
    </div>
</section>
