<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="http://podcast.manwithacat.uk/" target="_blank"class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Esoteric Reads Podcast
                            </div>
                            <div class="project-name">
                                Available from Apple Podcasts and Stitcher
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://gumroad.com/manwithacat" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Man with a Cat Audiobooks
                            </div>
                            <div class="project-name">
                                Buy my Audiobooks on Gumroad
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.fiverr.com/manwithacat" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Fiverr
                            </div>
                            <div class="project-name">
                                Buy my Voice of Fiverr
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://open.spotify.com/show/36uH28ANahx6Po5Qc7xymI" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Spotify
                            </div>
                            <div class="project-name">
                                Listen to a Man with a Cat
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.audible.co.uk/search?searchNarrator=A+Man+with+a+Cat" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Find me on Audible
                            </div>
                            <div class="project-name">
                                Man with a Cat books on Audible
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.ahab.us/profile/5438" target="_blank"class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Hire me through AHAB
                            </div>
                            <div class="project-name">
                                Publishing with Penguin Random House Audio (PRHA)? <br/>Find me on AHAB.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
