<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://podcasts.apple.com/gb/podcast/esoteric-reads/id1461528094" target="_blank"class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                The Esoteric Reads Podcast
                            </div>
                            <div class="project-name">
                                A Weekly(ish) delve into interesting old texts
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.audible.co.uk/search?searchNarrator=A+Man+with+a+Cat" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Man with a Cat Audiobooks
                            </div>
                            <div class="project-name">
                                Listen on Audible
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.fiverr.com/manwithacat" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Fiverr
                            </div>
                            <div class="project-name">
                                Buy my Voice of Fiverr
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://voicebunny.com/profile/james-barlow-2OANNUK/" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                VoiceBunny
                            </div>
                            <div class="project-name">
                                Hire me for quick Jobs on Voicebunny
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.amazon.co.uk/-/e/B0721CMPZX" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Amazon
                            </div>
                            <div class="project-name">
                                Buy my Books
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://www.youtube.com/ManwithaCat" target="_blank"class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Find me on YouTube
                            </div>
                            <div class="project-name">
                                Listen to upcoming projects
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
